


<!DOCTYPE html>

<html ng-app="gtlaw" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    

    <!-- OneTrust Cookies Consent Notice start -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/6c184864-bc96-4b09-ab95-50eb0455389b/OtAutoBlock.js" data-document-language="true"></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="6c184864-bc96-4b09-ab95-50eb0455389b"></script>
    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end -->


        <!-- Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KNL4KD5');</script>
        <!-- End Google Tag Manager -->

    <link rel="canonical" href="https://www.gtlaw.com/en/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief" />
    <link rel="alternate" href="https://www.gtlaw.com/en/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief" hreflang="en" />

    <title>25% Tariff on Automobiles and Automobile Parts Begins April 3; USMCA Vehicles May Qualify for Partial Relief | Insights | Greenberg Traurig LLP</title>
    <meta name="ik-alt-image" content="" />
<meta name="title" content="25% Tariff on Automobiles and Automobile Parts Begins April 3; USMCA Vehicles May Qualify for Partial Relief | Insights | Greenberg Traurig LLP" />
<meta name="description" content="New 25% tariff on imported vehicles starts April 3, 2025, with USMCA vehicles eligible for partial relief based on US content. Automobile parts affected by May 3. Documentation crucial to avoid retroactive penalties." />
<meta name="keywords" content="" />

<meta property="og:url" content="https://www.gtlaw.com/en/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief" />
<meta property="og:type" content="website" />
<meta property="og:title" content="25% Tariff on Automobiles and Automobile Parts Begins April 3; USMCA Vehicles May Qualify for Partial Relief | Insights | Greenberg Traurig LLP" />
<meta property="og:description" content="" />

    <meta property="og:image" content="https://www.gtlaw.com/en/-/media/images/open-graph-news-and-insights-photos/alerts_open_graph.jpg?rev=51272d6912cb4e9488b30c060b32b36e&amp;sc_lang=en&amp;hash=B490FFE490F757ED1D9FD7B907200714" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@gt_law">
<meta name="twitter:title" content="25% Tariff on Automobiles and Automobile Parts Begins April 3; USMCA Vehicles May Qualify for Partial Relief | Insights | Greenberg Traurig LLP">
<meta name="twitter:dnt" content="on">
<meta name="twitter:description" content="">

    <meta name="twitter:image:src" content="https://www.gtlaw.com/en/-/media/images/open-graph-news-and-insights-photos/alerts_open_graph.jpg?rev=51272d6912cb4e9488b30c060b32b36e&amp;sc_lang=en&amp;hash=B490FFE490F757ED1D9FD7B907200714">

<meta name="limitfilter" content="Insights">
<meta name="oni_section" content="Insights">
<meta name="oni_name">
<meta name="oni_name2">
<meta name="oni_name3">
<meta name="robots" content="INDEX, FOLLOW">

    <link href="/assets/main/site/css/site.v-75jl5ydnbiurjz3upkmha.css" rel="stylesheet">
    <link href="/assets/main/site/css/print.v-vrggcjns8qcdnsykc07avw.css" media="print" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNL4KD5" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

    <!--stopindex-->
    <a tabindex="0" class="skip-main" href="#main-content">Skip to main content</a>
<nav class="site-nav white-text" ng-controller="Header" data-languages="[&quot;ar&quot;,&quot;de&quot;,&quot;en&quot;,&quot;es&quot;,&quot;he&quot;,&quot;it&quot;,&quot;ja&quot;,&quot;ko&quot;,&quot;nl&quot;,&quot;pl&quot;,&quot;pt&quot;,&quot;zh&quot;]" id="site-nav--js">
    <a href="/en" class="site-logo">
        <img alt="home" class="site-nav__logo" src="/-/media/images/global-sitewide-images/logo_white.svg?rev=3ce6eb2889564453ba93e7fb611f7cad&amp;hash=30E486FAECD8ED3D3C294F0B6B93B346">
    </a>
    <input type="hidden" id="LogoBlack" value="/-/media/images/global-sitewide-images/logo.svg?rev=d07323a607914ace919ae5feec7c119b&amp;hash=59AF347B3177907F6747626218361229" />
    <input type="hidden" id="LogoWhite" value="/-/media/images/global-sitewide-images/logo_white.svg?rev=3ce6eb2889564453ba93e7fb611f7cad&amp;hash=30E486FAECD8ED3D3C294F0B6B93B346" />
    <div class="site-nav__nav-container">
        
        <ul class="site-nav__primary">
                        <li class="site-nav__primary-item">
                            <a class="site-nav__primary-link " href="/en/professionals">Professionals</a>
                        </li>
                        <li class="site-nav__primary-item">
                            <a class="site-nav__primary-link " href="/en/capabilities">Capabilities</a>
                        </li>
                        <li class="site-nav__primary-item">
                            <a class="site-nav__primary-link is-active" href="/en/insights">Insights</a>
                        </li>
                        <li class="site-nav__primary-item">
                            <a class="site-nav__primary-link " href="/en/locations">Locations</a>
                        </li>
        </ul>
        <div class="site-nav__secondary">
            <ul class="site-nav__secondary-list">
                            <li class="site-nav__secondary-item">
                                <a class="site-nav__secondary-link " href="/en/our-firm">Our Firm</a>
                            </li>
                            <li class="site-nav__secondary-item">
                                <a class="site-nav__secondary-link " href="/en/news">News</a>
                            </li>
                            <li class="site-nav__secondary-item">
                                <a class="site-nav__secondary-link " href="/en/events">Events</a>
                            </li>
                            <li class="site-nav__secondary-item">
                                <a class="site-nav__secondary-link " href="/en/careers">Careers</a>
                            </li>
            </ul>
                <button tabindex="0" class="site-nav__search-button" id="site-nav__search-button--js" type="button">
                    <div class="site-nav__search-submit-button-flex-container">
                        <span class="site-nav__search-submit-button-icon">
                            <svg aria-labelledby="loupe--368272" class="icon icon--loupe" role="img" alt="">
                                <title id="loupe--368272">search menu</title>
                                <use xlink:href="/-/media/images/system/icons.svg?rev=7208051fff604d3a89f4f496595d96e1&amp;hash=7B4C549A7836D816CAC00638FC7740BF#loupe"></use>
                            </svg>
                        </span>
                        <span class="site-nav__search-button-text">Search</span>
                    </div>
                </button>
            <div tabindex="0" class="language-select">
                <div class="drop-down drop-down-language arrow-right">

                    <div class="current-selection">English</div>
                    <ul class="site-nav__language-toggle--js drop-down-options">
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/ar/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">العربية</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/de/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">Deutsch</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/es/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">espa&#241;ol</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/he/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">עברית</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/it/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">italiano</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/ja/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">日本語</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/ko/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">한국어</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/nl/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">Nederlands</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/pl/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">polski</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/pt/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">portugu&#234;s</a>
                            </li>
                            <li class="drop-down-option">
                                <a href="https://www.gtlaw.com/zh/insights/2025/4/25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief">中文</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <form class="site-nav__search-form" id="headerSearch" action="/sitesearch" ng-controller="SiteSearchHeader">
            <div class="site-nav__search-field-container">
                <label class="site-nav__search-field-label">
                    <span class="site-nav__search-field-label-text">Search</span>
                    <input class="site-nav__search-field" id="site-nav__search-field--js" ng-model="keyword" ng-change="typeAheadKeyup()" type="text" name="keyword">
                </label>
                <button class="site-nav__search-submit-button" type="submit">
                    <span class="site-nav__search-submit-button-icon">
                        <svg aria-labelledby="loupe--241101" class="icon icon--loupe" role="img" alt="">
                            <title id="loupe--241101">submit search</title>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/-/media/images/system/icons.svg?rev=7208051fff604d3a89f4f496595d96e1&amp;hash=7B4C549A7836D816CAC00638FC7740BF#loupe"></use>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="type-ahead-container" ng-show="typeAheadResults.length > 0">
                <ul>
                    <li class="type-ahead" ng-repeat="typeahead in typeAheadResults"><a class="title lazy-show lazy-show--from-bottom ng-lazyshow" ng-click="setKeywordHeader(typeahead)">{{typeahead}}</a></li>
                </ul>
            </div>
        </form>
    </div>
    <button aria-label="search menu and mobile navigation" class="site-nav__search-overlay-button" id="site-nav__search-overlay-button--js" type="button">
        <div class="site-nav__search-overlay-icon"></div>
    </button>
</nav>
    <!--startindex-->
    <div id="main-content">
        <main class="page-insights-detail">
    <header class="insights-detail-header">
        <div class="full-width-wrapper">
            <div class="article-meta">
                <span class="article-date">April 01, 2025</span>
                <span class="article-type">GT Alert</span>
            </div>
            <h1 class="insight-title">25% Tariff on Automobiles and Automobile Parts Begins April 3; USMCA Vehicles May Qualify for Partial Relief</h1>
            <div class="related-links">
                    <div class="inline-list">
                        <div class="label-section">Related Professionals</div>
                        <div class="list-section">
                                <a href="/en/professionals/h/hartleben-claudia-d" class="list-item-link">Claudia D. Hartleben</a>
                                <a href="/en/professionals/j/jeong-rosa-s" class="list-item-link">Rosa S. Jeong</a>
                                <a href="/en/professionals/m/mangas-robert" class="list-item-link">Robert Mangas</a>
                                <a href="/en/professionals/r/rabinowitz-laura-siegel" class="list-item-link">Laura Siegel Rabinowitz</a>
                                <a href="/en/professionals/s/sanchez-chao-guillermo" class="list-item-link">Guillermo Sánchez Chao</a>
                                <a href="/en/professionals/s/stein-donald-s" class="list-item-link">Donald S. Stein</a>
                                <a href="/en/professionals/v/velez-stephanie" class="list-item-link">Stephanie Vélez</a>
                        </div>
                    </div>
                        <div class="inline-list">
                <div class="label-section">Capabilities</div>
            <div class="list-section">
                    <a class="list-item-link" href="/en/capabilities/international-trade">International Trade</a>
                    <a class="list-item-link" href="/en/capabilities/international-trade/customs">Customs</a>
                    <a class="list-item-link" href="/en/capabilities/government-law--policy">Government Law & Policy</a>
                    <a class="list-item-link" href="/en/capabilities/tariff-task-force">Tariff Task Force</a>
            </div>
        </div>
        <div class="inline-list">
                <div class="label-section">Offices</div>
            <div class="list-section">
                    <a class="list-item-link" href="/en/locations/washington-dc">Washington, D.C.</a>
                    <a class="list-item-link" href="/en/locations/milan">Milan»</a>
                    <a class="list-item-link" href="/en/locations/new-york">New York</a>
                    <a class="list-item-link" href="/en/locations/mexico">Mexico+</a>
            </div>
        </div>

            </div>
        </div>
    </header>
    <div class="article-content">
        <div class="article-content-grid">
            <!--stopindex-->
            <div class="share-container">
    <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer">
        <div class="article-share-tools">
                <div class="alert-subscribe-link">
                    <a href="https://emailcc.com/pc/u_q2Rn+DGcOabhZghhk4UrxF7++GHElcC7">Subscribe</a>
                </div>
            <div class="share-tool-section">
                <p class="share-tool-label">Share</p>
                <ul class="share-tool-links">
                            <li class="share-tool-link-container">
                                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3a%2f%2fwww.gtlaw.com%2fen%2finsights%2f2025%2f4%2f25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief" class="share-tool-link share-tool-link--js" aria-label="Share via LinkedIn">
                                    <img src="/-/media/images/social/connector/linkedin.png?rev=7c7ecb11eefa48c5addab95dc792f617&amp;hash=B67157B71A7E829D2A0A51E1AA65F902" alt="LinkedIn" />
                                </a>
                            </li>
                            <li class="share-tool-link-container">
                                <a href="http://twitter.com/intent/tweet?url=https%3a%2f%2fwww.gtlaw.com%2fen%2finsights%2f2025%2f4%2f25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief" class="share-tool-link share-tool-link--js" aria-label="Share via X">
                                    <img src="/-/media/images/social/connector/twitter.png?rev=45d0ba7ad4b94315942116fdd40ef6d9&amp;hash=742281C5C37E23D37E852D60DC8D0187" alt="X" />
                                </a>
                            </li>
                            <li class="share-tool-link-container">
                                <a href="https://facebook.com/sharer/sharer.php?u=https%3a%2f%2fwww.gtlaw.com%2fen%2finsights%2f2025%2f4%2f25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief" class="share-tool-link share-tool-link--js" aria-label="Share via Facebook">
                                    <img src="/-/media/images/social/connector/facebook.png?rev=aec823fee8844656a500420b62e11eb5&amp;hash=F15BE87120AF6E89B5F5CE0458E389A8" alt="Facebook" />
                                </a>
                            </li>
                    <li class="share-tool-link-container">
                        <a href="mailto:?body=https%3a%2f%2fwww.gtlaw.com%2fen%2finsights%2f2025%2f4%2f25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief" aria-label="Share link by email" class="share-tool-link icon-envelope"></a>
                    </li>
                    <li class="share-tool-link-container">
                        <a href="javascript:void(0)" onclick="window.print()" aria-label="Print" class="share-tool-link icon-print"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
            <!--startindex-->
            <div class="content-container lazy-show lazy-show--from-right lazy-show--js">
                <input type="hidden" id="ReadMoreLabel" value="Read More +" />
<input type="hidden" id="ReadLessLabel" value="Read Less -" />

    <div class="rich-text"><table style="border:1px solid #956e09;   border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="border: 1px solid #956e09; text-align: center;"><strong><span style="color: #956e09;">Go-To Guide:</span></strong></td>
        </tr>
        <tr>
            <td style="border:1px solid #956e09;">
            <ul>
                <li>
                <p>New 25% tariff on imported cars starts April 3, 2025, citing national security concerns.</p>
                </li>
                <li>
                <p>Automobile parts from USMCA countries temporarily exempt, but full implementation expected by May 3, 2025.</p>
                </li>
                <li>
                <p>USMCA-qualifying vehicles may receive partial relief based on U.S. content value.</p>
                </li>
                <li>
                <p>Importers that do not carefully document U.S. content may face retroactive, full tariffs on misstatements.</p>
                </li>
            </ul>
            </td>
        </tr>
    </tbody>
</table>
<p>On March 26, 2025, President Donald Trump announced a proclamation, &ldquo;<a href="https://www.whitehouse.gov/presidential-actions/2025/03/adjusting-imports-of-automobiles-and-autombile-parts-into-the-united-states/" target="_blank" rel="noopener noreferrer">Adjusting Imports of Automobiles and Automobile Parts Into the United States</a>,&rdquo; directing the imposition of a 25% tariff on imports of passenger vehicles, light trucks, and certain automobile parts, citing national security concerns under section 232 of the Trade Expansion Act of 1962. The 25% duty will apply to designated Harmonized Tariff Schedule of the U.S. (HTSUS) codes listed in the <a href="https://www.federalregister.gov/documents/2025/04/03/2025-05930/adjusting-imports-of-automobiles-and-automobile-parts-into-the-united-states"><span style="line-height: 115%;">proclamation&rsquo;s annex</span></a>, which was published in the Federal Register on April 3.</p>
<p>U.S. Customs and Border Protection (CBP) will begin collecting duties on imports of covered automobiles at 12:01 a.m. EDT on April 3, 2025. Covered automobile parts will be subject to the same duty on a date to be determined, but no later than May 3, 2025.</p>
<h2>Covered Products and Future Expansion</h2>
<p>The proclamation applies the 25% tariff to passenger vehicles (sedans, SUVs, crossovers, minivans, cargo vans), light trucks, and selected automobile parts including engines and engine parts, transmissions and powertrain parts, and electrical components. The precise list of covered vehicles and parts (by HTSUS code) will be contained in the yet-to-be-published annex to the proclamation. Additional categories of automobile parts may be included over time. Domestic producers and industry associations may request the inclusion of other parts if they demonstrate that increased imports threaten to impair U.S. national security.</p>
<h2>USMCA Automobiles: Partial Duty Based on US Content</h2>
<p>The proclamation introduces a new content-based valuation system for qualifying automobiles under the United States-Mexico-Canada Agreement (USMCA). Importers of USMCA-qualifying automobiles may submit documentation supporting the value of U.S. content in a given model, defined as &ldquo;the value of parts wholly obtained, produced entirely, or substantially transformed in the United States.&rdquo; The 25% tariff will apply only to the automobile&rsquo;s non-U.S. content, calculated as the vehicle&rsquo;s total value minus the verified U.S. content.</p>
<h3><em>Enforcement and Penalties for Misstatements</em></h3>
<p>Importers should take note of deterrent measures built into the proclamation. If CBP determines that the declared non-U.S. content of a USMCA-qualifying automobile has been understated, the 25% tariff will apply retroactively and prospectively to the full value of the affected model. Specifically, duties will be retroactively assessed from April 3, 2025, and will continue to apply to all subsequent imports of the same model by the same importer until CBP verifies corrected values.</p>
<h2>USMCA Automobile Parts: Temporary Exemption</h2>
<p>USMCA-qualifying automobile parts are temporarily exempt from the 25% tariff. This exemption will remain in place until the secretary of Commerce establishes a process to calculate and apply the tariff only to the non-U.S. content of each part and publishes a notice in the Federal Register. In contrast, non-USMCA-qualifying parts will become subject to the full 25% tariff no later than May 3, 2025.</p>
<h2>Other Implementation Measures: FTZs and Duty Drawback</h2>
<p>Any automobile or automobile part subject to the 25% tariff and admitted into a U.S. foreign-trade zone (FTZ) on or after the effective date must be admitted in privileged foreign (PF) status&mdash;unless eligible for admission under domestic status (referring to goods that have been imported to the United States and for which all duties and taxes paid). Upon entry for consumption from the FTZ, the article will be subject to the duty rate applicable to its HTSUS subheading as of the admission date into the FTZ. Importers utilizing FTZs should review inventory and entry strategies, as this provision may reduce one of the traditional benefits of FTZ operations.</p>
<p>Additionally, duty drawback will not be available for the new 25% tariffs. Companies seeking to recover duties through export programs will not be able to claim refunds for these duties, even if the automobile or part is subsequently exported. This may affect cost planning for companies with international supply chains and re-export strategies.</p>
<h2>Key Takeaways: Automobiles</h2>
<ol>
    <li>Effective at 12:01 a.m. EDT on April 3, 2025, covered imports of passenger vehicles and light trucks will be subject to a 25% duty on entry or withdrawal from warehouse for consumption.</li>
    <li>USMCA-qualifying automobiles may receive a partial exemption, with the 25% duty applied only to the non-U.S. content of each model.</li>
    <li>Understatement of non-U.S. content will trigger full-duty liability on the total value of all affected models, retroactive to April 3, 2025, and continuing until CBP verifies corrected values.</li>
    <li>Importers must maintain thorough documentation of U.S. content and be prepared for CBP audits and potential enforcement actions.</li>
    <li>Additional automobile parts may be added to the tariff schedule based on industry petitions and agency determinations.</li>
    <br />
    <h2>Key Takeaways: Automobile Parts</h2>
    <ol>
        <li>A 25% duty will apply to covered automobile parts&mdash;engines, transmissions, and electrical components&mdash;no later than May 3, 2025.</li>
        <li>USMCA-qualifying parts are temporarily exempt until Commerce and CBP establish a U.S. content-based valuation system.</li>
        <li>Additional automobile parts may be included under the tariff regime upon petition by domestic producers or industry groups.</li>
        <li>Importers should prepare for heightened CBP scrutiny on valuation and content origin, especially for complex supply chains involving USMCA-qualifying parts.</li>
    </ol>
</ol></div>


    <div class="attachments-list">
            <span class="list-label">Attachments</span>
        <ul class="attachments-list-items">
                    <li class="attachments-list-item">
                        <a href="/-/media/files/insights/alerts/2025/04/gt-alert25-tariff-on-automobiles-and-automobile-parts-begins-april-3-usmca-vehicles-may-qualify-for-partial-relief.pdf?rev=c24232d174294007954ab8efc7442033&amp;sc_lang=en&amp;hash=16D34037A82F667A710D75097B9F8841" class="attachment-download-link attachment-pdf">GT Alert_25% Tariff on Automobiles and Automobile Parts Begins April 3; USMCA Vehicles May Qualify for Partial Relief</a>
                    </li>
        </ul>
    </div>
            </div>
        </div>
    </div>
        <div class="related-articles">
            <div class="section-header lazy-show lazy-show--from-right lazy-show--js">You May Also Be Interested In:</div>
        <div class="insight-list active">
            <div class="insight-container">
                    <div class="insight-item lazy-show lazy-show--from-bottom lazy-show--js">
                        <div class="insight-content">
                            <div class="top">
                                <date class="date">August 12, 2026</date>
                                <span class="insight-type">
                                    GT Alert
                                </span>
                            </div>
                            <div class="title-section">
                                <a class="title lazy-show lazy-show--from-bottom lazy-show--js" href="/en/insights/2026/8/recent-executive-actions-affecting-critical-minerals-and-materials">Recent Executive Actions Affecting Critical Minerals and Materials</a>
                                    <span class="time-to-read lazy-show lazy-show--from-right lazy-show--js">5 min read</span>
                            </div>
                            <span class="article-type"></span>
                        </div>
                    </div>
                    <div class="insight-item lazy-show lazy-show--from-bottom lazy-show--js">
                        <div class="insight-content">
                            <div class="top">
                                <date class="date">July 29, 2026</date>
                                <span class="insight-type">
                                    Media Coverage
                                </span>
                            </div>
                            <div class="title-section">
                                <a class="title lazy-show lazy-show--from-bottom lazy-show--js" href="/en/news/2026/07/media-coverage/first-dutch-multinationals-receive-us-tariff-refunds">First Dutch Multinationals Receive U.S. Tariff Refunds</a>
                                    <span class="time-to-read lazy-show lazy-show--from-right lazy-show--js">Less than a minute</span>
                            </div>
                            <span class="article-type">Dutch Financial Times</span>
                        </div>
                    </div>
                    <div class="insight-item lazy-show lazy-show--from-bottom lazy-show--js">
                        <div class="insight-content">
                            <div class="top">
                                <date class="date">July 24, 2026</date>
                                <span class="insight-type">
                                    GT Alert
                                </span>
                            </div>
                            <div class="title-section">
                                <a class="title lazy-show lazy-show--from-bottom lazy-show--js" href="/en/insights/2026/7/ustr-imposes-new-section-301-forced-labor-tariffs-on-imports-from-60-economies">USTR Imposes New Section 301 Forced Labor Tariffs on Imports from 60 Economies</a>
                                    <span class="time-to-read lazy-show lazy-show--from-right lazy-show--js">5 min read</span>
                            </div>
                            <span class="article-type"></span>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!--stopindex-->
</main>
<button class="back-to-top-button"></button>
<!--startindex-->
    </div>
    <!--stopindex-->
    <input type="hidden" id="IsHomePage" />
<footer class="site-footer " id="site-footer--js">
    <div class="site-footer__footer" id="site-footer__placeholder--js"></div>
    <div class="site-footer__container " id="site-footer__container--js">
        <div class="site-footer__column site-footer__column--left">
                <ul class="site-footer__social-icon-list">

                            <li class="site-footer__social-icon-list-item">
                                <a class="site-footer__social-icon-link" href="https://www.linkedin.com/company/greenberg-traurig-llp ">
                                    <img class="icon" alt=" GT LinkedIn" src="/-/media/images/footer-images/linkedin.png?rev=5087960573454535bdcf546b4468ec86&amp;sc_lang=en&amp;hash=E2205BC6C65A19FED40A6A1EB0083327" style="height:32px; width:38px;" />
                                </a>
                            </li>
                            <li class="site-footer__social-icon-list-item">
                                <a class="site-footer__social-icon-link" href="https://www.facebook.com/GreenbergTraurigLLP/">
                                    <img class="icon" alt="GT Facebook" src="/-/media/images/footer-images/facebook.png?rev=707c6487ed3a485ba6fd6221fdd9173e&amp;sc_lang=en&amp;hash=3B7D844ADA4E98DD1F7E3F80F025B53D" style="height:32px; width:17px;" />
                                </a>
                            </li>
                            <li class="site-footer__social-icon-list-item">
                                <a class="site-footer__social-icon-link" href="https://twitter.com/GT_Law">
                                    <img class="icon" alt=" GT Twitter" src="/-/media/images/footer-images/twitter.png?rev=f2dc77e9d4d74632a0ffab2e05136c85&amp;sc_lang=en&amp;hash=B5B056AAA23F6B351D912FBBE206130A" style="height:32px; width:40px;" />
                                </a>
                            </li>
                            <li class="site-footer__social-icon-list-item">
                                <a class="site-footer__social-icon-link" href="https://instagram.com/gt_law/">
                                    <img class="icon" alt="GT Instagram" src="/-/media/images/footer-images/instagram.png?rev=afb3473661d540238e89b1e68caa9c91&amp;sc_lang=en&amp;hash=A787E516224F7A0B88B962766B1D5A19" style="height:32px; width:32px;" />
                                </a>
                            </li>
                </ul>
            <ul class="site-footer__link-list">
                    <li class="site-footer__link-list-item">
                        <a class="site-footer__link-list-link" href="/en/contactus">Contact Us</a>
                    </li>
                                    <li class="site-footer__link-list-item">
                        <a class="site-footer__link-list-link" href="https://alumni.gtlaw.com/" target="_blank">GT Alumni Network</a>
                    </li>
                                    <li class="site-footer__link-list-item">
                        <a class="site-footer__link-list-link" href="/en/general/footer/terms-of-use">Terms of Use</a>
                    </li>
                                    <li class="site-footer__link-list-item">
                        <a class="site-footer__link-list-link" href="/en/general/footer/european-offices-privacy-notice">European Offices Privacy Notice</a>
                    </li>
                                    <li class="site-footer__link-list-item">
                        <a class="site-footer__link-list-link" href="/en/general/footer/privacy-notice">Privacy Notice</a>
                    </li>
                                    <li class="site-footer__link-list-item">
                        <a class="site-footer__link-list-link" href="/en/general/footer/cookie-notice">Cookie Notice</a>
                    </li>
                                    <li class="site-footer__link-list-item">
                        <a class="site-footer__link-list-link" href="/en/general/footer/main-disclosure-page">Disclosures</a>
                    </li>
                                <li class="site-footer__link-list-item">
                    <a tabindex="0" class="optanon-toggle-display site-footer__link-list-link">Cookie settings</a>
                </li>
            </ul>
                <div class="site-footer__small-print-container site-footer__small-print-container-desktop">

                    <p class="site-footer__small-print">
<small>&copy; 2026 Greenberg Traurig, LLP. </small></p>
<p class="site-footer__small-print"><small>Attorney Advertising.</small></p>
<p class="site-footer__small-print">
<small>All rights reserved. </small></p>
                </div>
        </div>
        <div class="site-footer__column">
            <ul class="site-footer__column--right">
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/abu-dhabi">Abu Dhabi˹</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/albany">Albany</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/amsterdam">Amsterdam</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/aspen">Aspen</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/atlanta">Atlanta</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/austin">Austin</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/berlin">Berlin ¬</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/boston">Boston</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/charlotte">Charlotte</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/chicago">Chicago</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/dallas">Dallas</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/delaware">Delaware</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/denver">Denver</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/dubai">Dubai‹</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/fort-lauderdale">Fort Lauderdale</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/houston">Houston</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/las-vegas">Las Vegas</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/london">London*</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/long-island">Long Island</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/los-angeles">Los Angeles</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/mexico">Mexico+</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/miami">Miami</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/milan">Milan»</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/minneapolis">Minneapolis</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/munich">Munich ¬</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/new-jersey">New Jersey</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/new-york">New York</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/northern-virginia">Northern Virginia</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/orange-county">Orange County</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/orlando">Orlando</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/philadelphia">Philadelphia</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/phoenix">Phoenix</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/portland">Portland</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/riyadh">Riyadh«</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/sacramento">Sacramento</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/salt-lake-city">Salt Lake City</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/san-diego">San Diego</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/san-francisco">San Francisco</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/sao-paulo">São Paulo›</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/seoul">Seoul∞</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/shanghai">Shanghai</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/silicon-valley">Silicon Valley</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/singapore">Singapore⁼</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/tallahassee">Tallahassee</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/tampa">Tampa</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/tel-aviv">Tel Aviv^</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/tokyo">Tokyo¤</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/warsaw">Warsaw~</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/washington-dc">Washington, D.C</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/west-palm-beach">West Palm Beach</a>
                    </li>
                    <li class="site-footer__office-list-item">
                        <a class="site-footer__office-link" href="/en/locations/westchester-county">Westchester County</a>
                    </li>
            </ul>
                <div class="site-footer__small-print-container site-footer__small-print-container-mobile">
                    <p class="site-footer__small-print">
<small>&copy; 2026 Greenberg Traurig, LLP. </small></p>
<p class="site-footer__small-print"><small>Attorney Advertising.</small></p>
<p class="site-footer__small-print">
<small>All rights reserved. </small></p>
                </div>
                            <div class="site-footer__small-print-container site-footer__disclaimer-right">
                    <p class="site-footer__small-print">
<small>Symbols refer to GT's office structure, which is detailed on the <a href="/en/general/footer/main-disclosure-page">Disclosures</a> page.</small></p>
                </div>
        </div>
    </div>
</footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/assets/main/site/js/site.v-z21mctqijsjog4fdjg.js"></script>
        <script src="/assets/main/site/js/app.v-usjab7rqwfk52kiltlkgaq.js"></script>
    <!--startindex-->
</body>
</html>
